#hot24{
  margin-top: 30px;
}

#hot24 .job-list-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 80%;
  margin: 33px auto;
}
#hot24 .job-list-wrapper .job1 {
  width: 389px;
  height: 200px;
  /*以数字开头的id名规则不应用*/
  /* margin: 42px 16px 15px 165px; */
  padding: 20px 18px 0;
  border: 1px solid #eaeeed;
  background-color: #fff;
  /* margin-left: 165px;*/
  margin-bottom: 15px; 
  color: #999;
}
#hot24 .job-list-wrapper .job1:hover{
    box-shadow: 0 0 5px #999;
}
#hot24 p {
  /* display: inline-block; */
}
#hot24 .job-list-wrapper .post-detail {
  line-height: 25px;
  word-spacing: 5px;
}
#hot24 .job-list-wrapper .post-detail img{
  vertical-align: middle;
  margin-left: 5px;
}
#hot24 .job-list-wrapper .post-detail .occupation{
  color: initial;
}
#hot24 .job-list-wrapper .post-detail .salary {
  color: #fa6041;
}
#hot24 .job-list-wrapper .post-detail ul li {
  width: 61px;
  height: 26px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 26px;
  color: #999;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  text-align: center;
}
#hot24 .job-list-wrapper .post-detail .require {
  display: block;
}
#hot24 .job-list-wrapper .post-detail .salary {
  float: right;
}
#hot24 .job-list-wrapper .who-publish {
  margin-top: 18px;
  padding-top: 18px;
  border-top: 1px dashed #e0e0e0;
}
#hot24 .job-list-wrapper .who-publish img {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}
#hot24 .job-list-wrapper .who-publish .name{
  color: #555;
}


/* 一些相同结构样式--共用 */
button.more-news{
    position: relative;

    left: 39%;
    width: 350px;
    height: 38px;
    border: 1px solid #00b38a;
    color: #00b38a;
    background: white;

}
div.more-tips{
    /* border-top: 1px solid #999; */
height: 30px;
line-height: 30px;
color: #999;
margin: 0 172px;
padding-top: 16px;

}
div.more-tips a{
    color: #00b38a;
    margin-left: 50px;
}
div.more-tips .wenhao{
    background: #e6e6e6;
color: white;
border-radius: 50%;

height: 18px;

display: inline-block;

width: 18px;

text-align: center;

line-height: 18px;
}
ul.module-tabs{
    margin: 0 152px;
word-spacing: 23px;
padding-bottom: 15px;
height: 40px;

line-height: 40px;
}
ul.module-tabs li{
    /* border-bottom:2px solid;  */
}
/* #hot24{
  height: 286px;
  overflow: hidden;
} */
/* #tab1:target ul.module-tabs li{
  border-bottom:2px solid;
}
#tab2:target{
  border-bottom:2px solid;
}  */
#hot24 .tab-container{
  /* height: 272px;
overflow: hidden; */
}
#hot24 .module-tabs,#it-hot .module-tabs{
  border-bottom: 1px solid #E8E8E8;
}
#hot24 .module-tabs ul a:visited{
  border-bottom:2px solid;
}