#main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 0 auto;
  margin-top: 33px;
}
#main-container .sidebar {
  width: 321px;
  height: 383px;
 
   /*top: 22px;
  left: 172px; */
}
#main-container .sidebar .category-list {
  padding: 10px 0 10px 10px;
  line-height: 28px;
  word-spacing: 13px;
}
.menubox {
  height: 47px;
  line-height: 47px;
  position: relative;
}
.menubox p.title{
  display: inline-block;
    /* margin-right: 21px; */
    font-size: 18px;
    color: #333;
}
.menubox .menu_sub {
  position: absolute;
  top: 0px;
  visibility: hidden;
  left: 321px;
  background: white;
  width: 600px;
  padding: 15px;
  line-height: 38px;
  word-spacing: 15px;
  word-break: keep-all;
}
.menubox .menu_sub dl dt {
  color: #333;
}
.menubox .menu_sub dl dd {
  color: #555;
}
.menubox .menu_sub dl {
  margin-bottom: 20px;
  line-height: 25px;
}
.menubox .menu_sub dl dd a:nth-child(5n + 1) {
  color: #00b38a;
}
.menubox .menu_sub dl dd a::after {
  content: "|";
  padding-left: 8px;
  color: #ebebeb;
}
.menubox .menu_sub dl dd a:hover {
  color: #da4646;
}
#main-container .sidebar .menubox:hover > .category-list {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
}
#main-container .sidebar .menubox:hover > .menu_sub {
  visibility: visible;
  z-index: 100;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
}
#main-container .sidebar .category-list h2 {
  float: left;
  margin-right: 10px;
}
#main-container .sidebar .category-list i {
  background: url(./public/images/left-arrow.png) 0 0 no-repeat; 
  position: absolute;
  right: 0;
  top: 20px;
  width: 6px;
  height: 11px;
  margin-right: 8px;
}

#main-container .lunbotu {
  /* position: absolute;
  right: 111px;
  top: 35px; */
  width: 840px;
  height: 346px;
  overflow: hidden;
}

#main-container .lunbotu-container {
  width: 3360px;
  font-size: 0;
}
#main-container .lunbotu .lunbotu-container img {
  width: 840px;
  height: 346px;
  animation: lunbotu 6s ease infinite alternate;
  /*  iteration-count direction fill-mode*/
}
#main-container .lunbotu:hover img {
  animation-play-state: paused;
}
@keyframes lunbotu {
  0%,
  20% {
    transform: translateX(0);
  }
  30%,
  50% {
    transform: translateX(-840px);
  }
  60%,
  80% {
    transform: translateX(-1680px);
  }
  90%,
  100% {
    transform: translateX(-2520px);
  }
}


