@charset "utf-8";
$font-size:14px;
  $font-family:"Hiragino Sans GB" "Microsoft Yahei" SimSun Arial "Helvetica Neue" Helvetica;
$color1:#333;
  $color2:#555;
  $theme-color:#00b38a;
  $theme-color2:#0dca9f;
  $img-folder:"../images/";