@charset "utf-8";
#top_banner {
    width: 100%;
    min-width: 1024px;
    height: 80px;
    > a {
        display: block;
        width: 100%;
        height: 80px;
        background: url(#{$img-folder}top0.jpg) center center no-repeat;
      }
  }
  
  #header-nav {
    min-width: 1024px;
    height: 40px;
    background-color: #32373e;
    position: relative;
    .inner{
        display: flex;
        align-items: center;
        padding-right: 149px;
        .header-nav_l{
            flex: 1;
            width: 185px;
            height: 40px;
            line-height: 40px;
            padding-left: 43px;
            .logo {
              width: 43px;
              height: 21px;
              float: left;
              margin-top: 9px;           
              display: block;
              padding-left: 0;
              background: url(#{$img-folder}sprite_361857f.png)  -10px -10px no-repeat;
              background-size: 64px 128px;
            }
            .suggestCity
            {
                >span{
                    color:#0dca9f;
                    padding:0 10px 0 38px;                   
                }
                >#cityBox{
                    display: none;
                  }
                >a:hover+#cityBox{
                display: block;
                }
                #changeCity_btn{
                    color: #afb5c0;
                    &:hover{
                        color: #ffffff;
                    }
                }
                  
            }
        }
        .header-nav_m{
            flex: 3;
            li{
                display: inline-block;  
                width: 70px;
                height: 40px;
                line-height: 40px;
                width: 70px;
                text-align: center; 
                &:hover,&.checked  {
                    background: #000;
                    a{
                        color: white;
                    }
                }

            }
        }
        .header-nav_r{
            display: flex;
            .passport{
                margin-right: 26px;
                 color: #afb5c0;
                 word-spacing: 5px;
                 &:before{
                    content: "";
                    width: 18px;
                    height: 18px;
                    background-image: url(#{$img-folder}sprite_361857f.png);
                    background-position: -76px -136px;
                    background-repeat: no-repeat;
                    display: inline-block;
                    vertical-align: middle;
                 }
            }
            .lg_app{
            margin-right: 25px;
            &:before {
                content: "";
                display: block;
                float: left;
                width: 12px;
                height: 17px;
                margin-right: 4px;
                margin-top: -1px;
                background: url(#{$img-folder}sprite_361857f.png) -64px -212px no-repeat;
              }
            }
        }
        a{
            color: #afb5c0;
          }  
      }
  }