@charset "utf-8";

#linkbox {
  width: 80%;
  margin: 50px auto;
  word-spacing: 12px;
  position: relative;
  dl dt {
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    color: #333;
    margin-bottom: 21px;
  }
  dd.links {
    height: 26px;
    overflow: hidden;
    width: 1160px;
    line-height: 34px;
  }
  a.morelink {
    position: absolute;
    right: 0;
    top: 50px;
    &:hover {
      > i.icon_expand {
        transform: rotate(180deg);
      }
      + dd {
        height: auto;
      }
    }
  }
}
